<div class="container">
    <h1>Coupon </h1>
    
    <div class="row">
        <div class="col-md-3">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">garlic bread</h5>
                <p class="card-text">

                    Add to any coupon just $2.39!
                    limit : 3
                </p>
                </div>
            </div>
            
        </div>
        <div class="col-md-6">

            <div class="card">
                <div class="card-body">
                <h5 class="card-title">18" Family meal deal</h5>
                <p class="card-text">
                    
        *Three toppings 
        *Family Salad
        *Two 32oz Pepsi
        24.99
        Delivered
        Combo, Maneater or Veggie pizza only $27.99
        not valid whith any other offer.
        Not valid with BBQ or Ranch sauces
                </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">

            <div class="card">
                <div class="card-body">
                <h5 class="card-title">12' two topping pizza</h5>
                <p class="card-text">
                    $7.99 carry out only
                    Not valid with BBQ or Ranch sauces
                    not valid with any other offers</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
        
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">18" 3 toppings pizza</h5>
                  <div class="card-text">
                    
                    $17.49
                    Combo, Maneater or Veggie pizza only $20.49    not valid with any other offer.
                    delivered
                    Not valid with BBQ or Ranch sauces
                  </div>
                 </div>
              </div>
              
        </div>
        <div class="col-md-6">
    
            <div class="card">
                <div class="card-body">
                <h5 class="card-title"> 15" 3 Topping Pizza</h5>
                <p class="card-text">
                   
                    Combo, Maneater or Veggie pizza only $16.39    not valid with any other offer.
                    $13.99
                    delivered
                    Not valid with BBQ or Ranch sauces
                </p>
                </div>
            </div>
        </div>
    </div>

    
    <div class="row">
        <div class="col-md-4">
        
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Daily Special</h5>
                  <div class="card-text">
                    Call about our daily Specials !
                  </div>
                 </div>
              </div>
              
        </div>
        <div class="col-md-8">
    
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">  2-18" two topping pizzas</h5>
                <p class="card-text">
                  
$32.99
delivered
additional toppings $1.50 up to 2 extra. not valid with any other offer Not valid with BBQ or Ranch sauces
                </p>
                </div>
            </div>
        </div>  
    </div>


</div>