
h1{
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    font-family: Didot;
    font-style: italic; 
    margin-bottom: 4%;
}

h3{
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  font-family: Didot;
  font-style: italic; 
}
  
h5{
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  font-family: Didot;
  font-style: italic; 
}
  .card-title{
    font-family: Didot;
    font-style: italic;
    font-size: 1.5rem;
    color: white;
  }
  
  .card-text{
    font-family: Century Gothic !important;
    font-size: 1rem;
    color: white;
  }
  
  .card {
    background-color: black;
    border-radius: 25px;
  }

  .card img {
    border-radius: 25px;
  }