
<h1>Specialities</h1>
<h3> 18' - $23.99</h3>
<h3> 15' - $19.99</h3>
<h3> 12' - $14.99</h3>


<hr>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" routerLink="/detail-pepperoni">

      <div class="card h-100 my-card">
        <img src="../../../assets/menu/special/meatlovers-pizza.jpg" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">Maneater</h5>
          <p class="card-text">Meatlovers, just try it out.</p>
        </div>
      </div>
    </div>
    <div class="col" routerLink="/detail-popular">
      <div class="card h-100 my-card">
        <img src="../../../assets/menu/special/comboPizza.avif" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">The Combo</h5>
          <p class="card-text">The perfect combination of toppings under a single pizza. You have veggies and meat to experience something unique.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 my-card">
        <img src="../../../assets/redPepperPizza.jpg" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">Veggie</h5>
          <p class="card-text">A pizza with mushrooms, olives, red peppers, onion, and a secret touch. </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 my-card">
        <img src="../../../assets/menu/special/baconRanchPizza.avif" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">Chicken Bacon Ranch</h5>
          <p class="card-text">Our selected chicken with a special ranch sauce. It will make you want to come back for more.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 my-card">
        <img src="../../../assets/menu/special/bbqPizza.jpg" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">BBQ Chicken</h5>
          <p class="card-text">Barbecue and chicken, what a perfect combination.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 my-card">
        <img src="../../../assets/menu/special/bltPizza.jpg" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">The B.L.T</h5>
          <p class="card-text">A classic for Americans, everything you love in one place, Bacon, Lettuce, and Tomato.</p>
        </div>
      </div>
    </div>
  </div>