<div class="container my-3">
  <h1>Family Meal Deal</h1>
    <div class="card mb-6" >
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../assets/family.jpg" class="img-fluid" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">                    

              <table class="table">
                  <thead>
                  <tr>
                      <th scope="col">Promo</th>
                      <th scope="col">Price</th>
                      <th scope="col">Extra Toppings</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                  
                      <td> 12" Cheese pizza, individual salad and 1L Pepsi</td>
                      <td> $12.99</td>
                      <td> $0.99 </td>
                  </tr>
                  <tr>
                  
                      <td> 15" Cheese pizza, family salad and two 1L Pepsi</td>
                      <td> $18.69</td>
                      <td> $1.20 </td>
                  </tr>
                  <tr>
              
                      <td >18" Cheese pizza, family salad and two 1L Pepsi</td>
                      <td> $22.09</td>
                      <td> $1.50 </td>
                  </tr>
                  </tbody>
              </table>

             </div>
          </div>
        </div>
      </div>
</div>