<div class="container my-3">
    <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../assets/family.jpg" class="img-fluid" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"> Family Meal Deal</h5>
             Cheese pizza, individual salad and one Pepsi's Additional toppings $1.00 each
                $12.99 Additional Toppings
            $1
        
            15" Family Meal Deal
            Cheese pizza, family salad and two Pepsi's Additional toppings $1.20 each
            $18.69

            Additional Toppings
            $1.20


            18" family meal deal
            Cheese pizza, family salad and two Pepsi's Additional toppings $1.50 each
            $22.09

            Additional Toppings
            $1.50
                        

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Inches</th>
                            <th scope="col">Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        
                            <td>12</td>
                            <td> $12.99 </td>
                        </tr>
                        <tr>
                        
                            <td>15</td>
                            <td>  $18.69</td>
                        </tr>
                        <tr>
                    
                            <td >18</td>
                            <td> $22.09</td>
                        </tr>
                        </tbody>
                    </table>


                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div>
                      </div>

                      <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div>
                      </div>
                      <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div>
                      </div>



             </div>
          </div>
        </div>
      </div>



</div>