
img{
    margin-left: 3rem;
    width: 20rem;
    height: 20rem;
}


h1{
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    font-family: Didot;
    font-style: italic; 
    margin-bottom: 3%;
}


 .table{
    font-family: Century Gothic;
    color: white;
  }

  .card-body{
    color: white;
  }
  
  .card-text{
    font-family: Century Gothic !important;
    font-size: 1rem;
    color: white;
  }
  
  .card {
    background-color: black;
    border-radius: 25px;
    margin-bottom: 4%;
  }

  .card img {
    border-radius: 25px;
  }

  .container{
    margin-bottom: 2rem;
  }