.my-card:hover {
    border: 3px solid #3E7DC0;
}

h1{
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    font-family: Didot;
    font-style: italic; 
}

.card-title{
    font-family: Didot;
    font-style: italic;
    font-size: 1.5rem;
  }

  .card-text{
    font-family: Century Gothic;
    font-size: 1rem;
  }
  