
<h1>Pizzas</h1>
<hr>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" routerLink="/detail-pepperoni">

      <div class="card h-100 my-card">
        <img src="../../../assets/menu/pepperoniPizza.jpg" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pepperoni Pizza</h5>
          <p class="card-text">An all-time classic. Made with fresh pepperoni and our incredible, unique sauce </p>
        </div>
      </div>
    </div>
    <div class="col" routerLink="/detail-popular">
      <div class="card h-100 my-card">
        <img src="../../../assets/menu/meatloversPizza.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Most popular</h5>
          <p class="card-text">Meatlovers, just try it out.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 my-card">
        <img src="../../../assets/redPepperPizza.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Recommended</h5>
          <p class="card-text">A pizza with mushrooms, olives, red peppers, onion, and a secret touch. </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 my-card">
        <img src="../../../assets/menu/veggiePizza.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">New innovatation</h5>
          <p class="card-text">The medittereanean pizza was brought from the middle east so you can experience a new combination of flavor </p>
        </div>
      </div>
    </div>
  </div>