

    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/pizza">Pizza</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Speiciality</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sides</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Family Deals</a>
        </li>
      </ul>

   
    <div class="container">
      <router-outlet></router-outlet>
    </div>
    






