 <ul class="nav p-1">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/pizza">Pizza</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/special">Speiciality</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sides">Sides</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="family-deal">Family Deals</a>
      </li>
    </ul> 


      <div id="carouselMenu"  *ngIf="router!= '/detail'" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img id="carouselMenuimage" src="../../assets/menuimage.jpg" class="d-block w-100" alt="...">

            <div class="carousel-caption d-none d-md-block" id="menucaption" >
              <h1>Menu</h1>
              <h4>Try our best Pizzas</h4>
            </div>
          </div>
        </div>
      </div>



   
    <div class="container m-3">
      <!-- <app-pizza></app-pizza> -->
      <router-outlet></router-outlet>
    </div>
    






