<section id="carousel">

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner" >
      <div class="carousel-item active">
        <img id="carouselimg" src="../../assets/MainPizza.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 id="slideText">Big Foot Pizza</h5>
          <p id="slideDescription">Discover some amazing options we offer on the shop.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img id="carouselimg"  src="../../assets/SecondMainPizzaMainPage.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 id="slideText">Best pizza in town</h5>
          <p id="slideDescription">Combine our toppings as never before</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>





  <div class="container my-5">

<!--   
    <section class=" d-flex align-items-center section-bg">
      <div class="container">
        <div class="row justify-content-between gy-5">
          <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
            <h2 >Enjoy Your Healthy<br>Delicious Food</h2>
            <p >Sed autem laudantium dolores. Voluptatem itaque ea consequatur eveniet. Eum quas beatae cumque eum quaerat.</p>
        
          </div>
          <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
            <img src="../../assets/pizza.jpg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
          </div>
        </div>
      </div>
    </section> -->

   
    <section>
      <div class="container" id="vertical">
        <div class="child featured">
          <div class="card">
            <img src="../../assets/pizza.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="child ">

            <h1>The Possibilities</h1> 
            Many toppings, Only $ .99 each
            <br>
            Get exactly what you love with a customized pizza.
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Doughs
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                 
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Inches</th>
                        <th scope="col">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                     
                        <td>14</td>
                        <td>$14.99</td>
                      </tr>
                      <tr>
                    
                        <td>17</td>
                        <td>$18.99</td>
                      </tr>
                      <tr>
                  
                        <td >20</td>
                        <td>$23.99</td>
                      </tr>
                    </tbody>
                </table>


                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Meats
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">


                  <div class="card-group">
                    <div class="card border-0">
                      <img src="../../assets/toppings/meat/pepperoni.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Pepperoni</h5>
                      </div>
                    </div>
                    <div class="card border-0">
                      <img src="../../assets/toppings/meat/canadianbacon.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Canadian Bacon</h5>
                          </div>
                    </div>
                    <div class="card border-0">
                      <img src="../../assets/toppings/meat/sausage.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Sausage</h5>
                          </div>
                    </div>
                  </div>


                  <div class="card-group">
                    <div class="card border-0">
                      <img src="../../assets/toppings/meat/beef.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Beef</h5>
                      </div>
                    </div>
                    <div class="card border-0">
                      <img src="../../assets/toppings/meat/bacon.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Bacon</h5>
                          </div>
                    </div>
                    <div class="card border-0">
                      <img src="../../assets/toppings/meat/chicken.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Chicken</h5>
                          </div>
                    </div>
                  </div>


           
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Veggies 
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">

                  <div class="card-group">
                    <div class="card border-0">
                      <img src="../../assets/toppings/veggies/garlic.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Garlic</h5>
                      </div>
                    </div>
                    <div class="card border-0">
                      <img src="../../assets/toppings/veggies/blackolive.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Black Olives</h5>
                          </div>
                    </div>
                    <div class="card border-0">
                      <img src="../../assets/toppings/veggies/mushrooms.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Mushrooms</h5>
                          </div>
                    </div>
                  </div>

                  <div class="card-group">
                    <div class="card border-0">
                      <img src="../../assets/toppings/veggies/onion.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Onions</h5>
                      </div>
                    </div>
                    <div class="card border-0">
                      <img src="../../assets/toppings/veggies/greenpepper.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Green Peppers</h5>
                          </div>
                    </div>
                    <div class="card border-0">
                      <img src="../../assets/toppings/veggies/pineapple.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Pineapple</h5>
                          </div>
                    </div>
                  </div>

                  <div class="card-group">
                    <div class="card border-0">
                      <img src="../../assets/toppings/veggies/jalapeno.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Jalapenos</h5>
                      </div>
                    </div>
                    <div class="card border-0">
                      <img src="../../assets/toppings/veggies/bananapepper.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Banana Peppers</h5>
                          </div>
                    </div>
                    <div class="card border-0">
                      <img src="../../assets/toppings/veggies/mushrooms.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Mushrooms</h5>
                          </div>
                    </div>
                  </div>



            
         
                </div>
              </div>
            </div>
          </div>





        </div>
        <div class="child">
          <div class="card">
           
            <div class="card-body">
              <h5 class="card-title">Open hours</h5>
              <p class="card-text">
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">  Monday-Thursday</h5>
                        <p class="card-text"> Open : 4:00 pm
                                          <br>Close : 10:30 pm</p>
                                
                  
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">  Friday</h5>

                        <p class="card-text"> Open : 4:00 pm <br>
                                              Close : 11:30 pm</p>
                                 
                                 
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mb-2">
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">   Saturday  </h5>
                        <p class="card-text"> Open : 12:00 pm
                            <br> Close : 11:30 pm</p>
                                 
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">    Sunday   </h5>
                        <p class="card-text">Open : 4:00 pm <br>  Close : 10:00 pm</p>
                                 
                      </div>
                    </div>
                  </div>
                </div>
      
                                    
                                     
            </div>
          </div>
        </div>
      
      </div>

    </section>

  

</div>
