<nav class="navbar sticky-top navbar-expand-lg" id="navbar">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/menu/pizza">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/coupon">Coupon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/location">Location
            </a>
          </li>
        
        
        </ul>
        <div class="d-flex">
            Delivery call (208) 233-1041
        </div>
      </div>
    </div>
  </nav>