img{
    width: 24rem;
    height: 16rem;
}

h1,h5{
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    font-family: Didot;
    font-style: italic; 
}

h1 {
  margin-bottom: 3%;
}

  
  .card-title{
    font-family: Didot;
    font-style: italic;
    font-size: 1.5rem;
    color: white;
  }
  
  .card-text{
    font-family: Century Gothic !important;
    font-size: 1rem;
    color: white;
  }
  
  .card {
    background-color: black;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
   
  }

  .card img {
    border-radius: 25px;
    margin-bottom: 5%;
  }

 .container{
  max-width: 100% !important;
 }

 /* text under id price alligned at the bottom */
  #price{
  margin-top: auto;
 }



