<div class="container-fluid y-3">
    <h4>Sides</h4>


    <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-3">
            <img src="../../../assets/Cheesebread.jpg" class="img-fluid" alt="...">
          </div>
        
          <div class="col-md-3">
            <div class="card-body">
              <h5 class="card-title">Garlic bread w/cheese</h5>
              <p class="card-text">Mini french loaf cut in half with garlic butter and cheese.
              </p>
              <p class="card-text align-self-end" id="price">
                $2.99
              </p>
             </div>
          </div>

          <div class="col-md-3">
            <img src="../../../assets/salad.jpg" class="img-fluid" alt="...">
          </div>
          <div class="col-md-3">
            <div class="card-body">
              <h5 class="card-title">Dinner salad</h5>
              <p class="card-text">Individual size of salad, One 4 oz size of dressing and a side of croutons. Dressing choices are Ranch, 1000 Island, Blue cheese and Italian.</p>
              <p class="card-text" id="price">
                $4.49
              </p>
            </div>
          </div>

        </div>
      </div>


      <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-3">
            <img src="../../../assets/pepsi.jpeg" class="img-fluid" alt="...">
          </div>
          <div class="col-md-3">
            <div class="card-body">
              <h5 class="card-title">32oz Beverages</h5>
              <p class="card-text">Pepsi, Diet Pepsi, Dr.Pepper, Mountain Dew, Rootbeer, 7Up, Pink Lemonade and Raspberry Iced Tea.</p>
              <p class="card-text" id="price">
                $1.49
              </p>
            </div>
          </div>

          <div class="col-md-3">
            <img src="../../../assets/sauces.jpg" class="img-fluid" alt="...">
          </div>
          <div class="col-md-3">
            <div class="card-body">
              <h5 class="card-title">Sauces</h5>
              <p class="card-text">Side of Ranch, Blue Cheese,1000 Island and Italian dressing. sides of pizza sauce and croutons.</p>
              <p class="card-text" id="price">
                $.99
              </p>
            </div>
          </div>

        </div>
      </div>

</div>