<div class="container">
  <h1>Location</h1>
  <hr>
  <div class="row">
    <div class="col-md-8">
      <div class="map-frame">
        <div id="map"></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
      
        <div class="card-body">
          <div class="card-header">
            
          </div>
          <h2>
            Address
          </h2>
          <div class="card-title">
            168 Jefferson Ave, Pocatello, ID 83201
          </div>

          <h2>
            Call 
          </h2>
       
            <div class="card-title">
                (208) 233-1041
            </div>
         
            <h2>
              Available 
            </h2>

            <div class="card-title">
              Pick up or Delivery
            </div>
          
        </div>    
      </div>
    </div>
  </div>

  


</div>
